@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

.custom-scrollbar::-webkit-scrollbar {
	background-color: rgb(124 45 18);
	height: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: rgb(253 186 116);
}
