@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'GalanoGrotesque';
	src: url('/GalanoGrotesqueDEMO-Bold.ttf') format('ttf');
}

body {
	font-family: 'GalanoGrotesque', sans-serif;
}
